

        body{
            background:linear-gradient(180deg, navy ,aqua , darkblue );
          width:100vh; 
            height:100vh;
        }


   .card{
   
        padding: 10pt;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 0.5rem 2rem black;
        background-color:whitesmoke;
        
        width: 50vh;
        height: 60vh;
     
    
  }

  .card-header{
        font-weight: bold;
        margin-left: 57pt;
        font-size: 15pt;
        color:black; 
  }

 .btn{
        margin-left:26pt;
     
      
        
 }

 .md-form{

     color: black;
       font-size: 14pt;
       margin-left: 25pt;
    
 }


 .form-check{
    margin-left: 25pt;
   font-size: 13pt;
   color: black;
   
 }
